@{
    ViewData["Title"] = "Transact1";
}

<div class="text-center">
    <h1 class="display-4">Transact1</h1>
</div>
<div id="transact">
    <div class="form-group">
        <label class="control-label">Amount</label>
        <input type="text" class="form-control" v-model="amount" />
    </div>
    <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" class="form-control" v-model="description" />
    </div>
    <button class="btn btn-primary" v-on:click="execute">Execute</button>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            const accountID = "B49B5A69-A092-4149-ABBD-5CF8DE8A5D9B";

            const transactVue = new Vue({
                el: "#transact",
                data: {
                    amount: 0,
                    description: null
                },
                methods: {
                    execute: function () {
                        const amount = parseFloat(this.amount);
                        if (isNaN(amount) || amount === 0) {
                            alert("No amount entered");
                            return;
                        }
                        if (amount > 0) {
                            const command = new Deposit1Command({
                                AccountID: accountID,
                                Amount: amount,
                                Description: this.description
                            });
                           Bus.Dispatch(command, function () {
                                window.location = "/ledger1";
                            });
                        }
                        else {
                            const command = new Withdraw1Command({
                                AccountID: accountID,
                                Amount: -amount,
                                Description: this.description
                            });
                           Bus.Dispatch(command, function () {
                                window.location = "/ledger1";
                            });
                        }
                    }
                }
            });
        });
    </script>
}