@{
    ViewData["Title"] = "Transactions1";
}

<div class="text-center">
    <h1 class="display-4">Transactions1</h1>
</div>

<div id="transactions">
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Event</th>
            <th>Balance</th>
            <th></th>
            <th></th>
        </tr>
        <tr v-for="model in models">
            <td>{{model.Date|date}}</td>
            <td>{{model.Amount|money}}</td>
            <td>{{model.Description}}</td>
            <td>{{model.Event}}</td>
            <td>{{model.Balance|money}}</td>
        </tr>
    </table>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            const accountID = "B49B5A69-A092-4149-ABBD-5CF8DE8A5D9B";

            Vue.filter('date', function (value) {
                if (value) {
                    var d = new Date(value);
                    return (d.getMonth() < 10 ? "0" : "") + d.getMonth() + "/" + (d.getDate() < 10 ? "0" : "") + d.getDate() + "/" + d.getFullYear() + " " + (d.getHours() < 10 ? "0" : "") + d.getHours() + ":" + (d.getMinutes() < 10 ? "0" : "") + d.getMinutes();
                }
            });

            Vue.filter('money', function (value) {
                if (value) {
                    if (value < 0)
                        return "-$" + (-value).toFixed(2);
                    else
                        return "$" + value.toFixed(2);
                }
            });

            const transactionsVue = new Vue({
                el: "#transactions",
                data: {
                    models: []
                },
            });

            function loadData() {
                ILedger1QueryProvider.GetTransactions(accountID, function (models) {
                    transactionsVue.models = models;
                });
            }
            loadData();
        });
    </script>
}
